/*big tablet to 1200px */
@media only screen and (max-width: 1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }

}
/*small tablet to big tablet: from 800px to 1023px */
@media only screen and (max-width: 1023px){
    body{font-size: 18px;}
    section{padding: 60px 0;}
    
}
/*small phones to small tablet: from 481px to 800px */
@media only screen and (max-width: 800px){
    .main-nav{
        display: none;
    }

}
    
/*small phones : from 0 to 400px */
@media only screen and (max-width: 480px){
    .main-nav{
        display: none;
    }
    .plan-price{
        font-size: 40px;
    }
    .plan-box ul li{
        font-size: 15px;
    }
    .footer-nav{
        width: 100%;
    }
}